.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-background);
  padding-bottom: 10px;
}
.post__body > img {
  border-radius: 20px;
  width: 100%;
  object-fit: contain;
}
.post__headerSpecial {
  font-weight: 600;
  font-size: 14px;
  color: grey;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin-left: 5px;
}
.post__badge {
  font-size: 1.1rem;
  color: var(--twitter-color);
  margin-right: 5px;
}
.post_headerText > h3 {
  font-size: 15px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}
.post__headerDescription {
  margin-bottom: 10px;
  font-size: 15px;
}
.post__body {
  flex: 1;
  padding: 10px;
  width: 100%;
}
.post__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.post__avatar {
  padding: 20px;
}
.post__footer > * {
  color: rgb(83, 100, 113);
}

.post__icons {
  display: grid;
  place-content: center;
  padding: 10px;
  border-radius: 50px;
  transition: all 100ms ease-out;
  cursor: pointer;
}

.post__icons:hover {
  background-color: rgba(29, 161, 242, 0.1);
  color: rgb(45, 143, 204);
}